/* Define the gradient text effect */
.gradient-text {
    background: linear-gradient(to right, #217bfe, #e55571);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 /* Smooth transition */
  }